# Hämta data från API

Här hämtar vi data från ett API, städar den och sparar som CSV.

**Steg 1: Importera nödvändiga bibliotek**

- `pandas` använder vi för att hantera data.
- `requests` använder vi för att skicka förfrågningar (förfrågan på engelska = "request")
    - I andra språk kan detta heta "axios" eller "fetch"

In [2]:
import pandas as pd
import requests

**Steg 2: Definiera APIets URLer**

In [5]:
BASE_URL = "https://jsonplaceholder.typicode.com"
USERS_URL = f"{BASE_URL}/users" # https://jsonplaceholder.typicode.com/users
POSTS_URL = f"{BASE_URL}/posts"
COMMENTS_URL = f"{BASE_URL}/comments"

(USERS_URL, POSTS_URL, COMMENTS_URL)

('https://jsonplaceholder.typicode.com/users',
 'https://jsonplaceholder.typicode.com/posts',
 'https://jsonplaceholder.typicode.com/comments')

**Steg 3: Hämta users**

- En *Request* är en förfrågan som skickas från en klient till en server
- Ett *Response* är svaret som servern skickar tillbaka
- *Get* innebär att vi vill hämta någonting från servern

In [6]:
response = requests.get(USERS_URL)

response

**Steg 4: Konvertera datan**

In [10]:
data = response.json()
df = pd.DataFrame(data)
df.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

**Steg 5: Utforska datan**

In [19]:
df.iloc[0]["address"]

{'street': 'Kulas Light',
 'suite': 'Apt. 556',
 'city': 'Gwenborough',
 'zipcode': '92998-3874',
 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

In [17]:
df.dtypes

id           int64
name        object
username    object
email       object
address     object
phone       object
website     object
company     object
dtype: object

**Steg 6: formatera adress**

1. Skapa en funktion som fomraterar om adressen från python-objekt till en string

In [20]:
def format_address(row):
    address = row["address"]
    street = address["street"]
    suite = address["suite"]
    zipcode = address["zipcode"]
    city = address["city"]
    
    return f"{street} {suite}\n{zipcode} {city}"

2. Kör funktionen på varje rad
    - `format_address`: funktionsnamnet
    - `axis=1`: på varje rad

In [21]:
df["formatted_address"] = df.apply(format_address, axis=1)

3. Ta bort den ursprungliga kolumnen
    - `"address"`: vilken kolumn
    - `axis=1`: Hela kolumnen
    - `inplace=True`: ersätt nuvarande dataframe

In [24]:
df.drop("address", axis=1, inplace=True)

In [25]:
df.head()

,id,name,username,email,phone,website,company,formatted_address
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Kulas Light Apt. 556\n92998-3874 Gwenborough
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Victor Plains Suite 879\n90566-7771 Wisokyburgh
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Douglas Extension Suite 847\n59590-4157 McKenz...
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Hoeger Mall Apt. 692\n53919-4257 South Elvis
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Skiles Walks Suite 351\n33263 Roscoeview

**Steg 7: Exportera som CSV**

In [26]:
df.to_csv("users.csv", index=False)

**Steg 8: Samma allt igen men posts**

In [31]:
response = requests.get(POSTS_URL)
data = response.json()
df_posts = pd.DataFrame(data)
df_posts.to_csv("posts.csv", index=False)

In [30]:
df_posts.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...