# Rensa / Städa data

nån beskrivning om vi vill det...

In [1]:
import pandas as pd

df = pd.read_csv('customer_data.csv')

df.head()

,name,age,email,phone,purchase_frequency
0,Jenny Jönes,invalid_age,jenny.jones@distansakademin.se,0748-713657,high
1,Jack Jöhanssön,23,invalid_mail,0752-170570,medium
2,Jade Jöhanssön,25,jade.johansson@distansakademin.se,0787-680832,high
3,Jim Jöhnsön,24,jim.johnson@distansakademin.se,0755-106625,low
4,Jill Smith,62,jill.smith@distansakademin.se,0799-913994,low

In [2]:
def print_invalid_count(dataframe):
    invalid_email_count = dataframe[dataframe["email"] == "invalid_mail"].shape[0]
    invalid_age_count = dataframe[dataframe["age"] == "invalid_age"].shape[0]

    print(f"Invalid emails: {invalid_email_count}")
    print(f"Invalid ages: {invalid_age_count}")
    
print_invalid_count(df)

Invalid emails: 1218
Invalid ages: 1678

In [3]:
df.shape[0]

10000

In [5]:
print_invalid_count(df)

Invalid emails: 1218
Invalid ages: 1678

In [6]:
df[df["age"] != "invalid_age"].shape[0]

8322

In [7]:
df = df[df["age"] != "invalid_age"]
print_invalid_count(df)

Invalid emails: 1008
Invalid ages: 0

In [8]:
df = df[df["email"] != "invalid_mail"]
print_invalid_count(df)

Invalid emails: 0
Invalid ages: 0

In [9]:
df.shape[0]

7314

In [10]:
df.to_csv("customer_data_clean.csv", index=False)

In [11]:
df_clean = pd.read_csv("customer_data_clean.csv")

df_clean.head()

,name,age,email,phone,purchase_frequency
0,Jade Jöhanssön,25,jade.johansson@distansakademin.se,0787-680832,high
1,Jim Jöhnsön,24,jim.johnson@distansakademin.se,0755-106625,low
2,Jill Smith,62,jill.smith@distansakademin.se,0799-913994,low
3,Jesse Jöhanssön,50,jesse.johansson@distansakademin.se,0722-369001,medium
4,Jenny Jenkins,40,jenny.jenkins@distansakademin.se,0751-447976,low

In [12]:
df_clean.shape[0]

7314

In [14]:
print_invalid_count(df_clean)

Invalid emails: 0
Invalid ages: 0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7314 entries, 2 to 9998
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                7314 non-null   object
 1   age                 7314 non-null   object
 2   email               7314 non-null   object
 3   phone               7314 non-null   object
 4   purchase_frequency  7314 non-null   object
dtypes: object(5)
memory usage: 342.8+ KB

In [16]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7314 entries, 0 to 7313
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                7314 non-null   object
 1   age                 7314 non-null   int64
 2   email               7314 non-null   object
 3   phone               7314 non-null   object
 4   purchase_frequency  7314 non-null   object
dtypes: int64(1), object(4)
memory usage: 285.8+ KB

In [18]:
# int = Integer (heltal)
# 64 = 64 bitar ()
df["age"] = df["age"].astype("int16")